# Lab 1 - Getting started

### 1.3 - T-SQL notebooks

In [ ]:
-- Step 1.3.10

SELECT DB_NAME() AS DatabaseName

# Lab 2 - Data warehouse DDL

### 2.1 - Creating schemas

In [ ]:
-- Step 2.1.3

SELECT * FROM sys.schemas

In [ ]:
-- Step 2.1.4

IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'stage')
EXEC ('CREATE SCHEMA stage')

In [ ]:
-- Step 2.1.5

SELECT * FROM sys.schemas WHERE name = 'stage'

### 2.2 - Creating tables

In [ ]:
-- Step 2.2.1

DROP TABLE IF EXISTS stage.DimCity
DROP TABLE IF EXISTS stage.DimCustomer
DROP TABLE IF EXISTS stage.DimEmployee
DROP TABLE IF EXISTS stage.DimStockItem
DROP TABLE IF EXISTS stage.FactSale
GO

CREATE TABLE [stage].[DimCity]
	(
		[CityKey]                   [int]            NOT NULL,
		[City]                      [varchar](50)    NOT NULL,
		[StateProvince]             [varchar](50)    NOT NULL,
		[Country]                   [varchar](60)    NOT NULL,
		[Continent]                 [varchar](30)    NOT NULL,
		[SalesTerritory]            [varchar](50)    NOT NULL,
		[Region]                    [varchar](30)    NOT NULL,
		[Subregion]                 [varchar](30)    NOT NULL,
		[Location]                  [varchar](50)    NULL,
		[LatestRecordedPopulation]  [bigint]         NOT NULL
	)
GO

CREATE TABLE [stage].[DimCustomer]
	(
		[CustomerKey]               [int]            NOT NULL,
		[Customer]                  [varchar](100)   NOT NULL,
		[BillToCustomer]            [varchar](100)   NOT NULL,
		[Category]                  [varchar](50)    NOT NULL,
		[BuyingGroup]               [varchar](50)    NOT NULL,
		[PrimaryContact]            [varchar](50)    NOT NULL,
		[PostalCode]                [varchar](10)    NOT NULL
	)
GO

CREATE TABLE [stage].[DimEmployee]
	(
		[EmployeeKey]               [int]            NOT NULL,
		[Employee]                  [varchar](50)    NOT NULL,
		[PreferredName]             [varchar](50)    NOT NULL,
		[IsSalesperson]             [bit]            NOT NULL
	)
GO

CREATE TABLE [stage].[DimStockItem]
	(
		[StockItemKey]              [int]            NOT NULL,
		[StockItem]                 [varchar](100)   NOT NULL,
		[Color]                     [varchar](20)    NOT NULL,
		[SellingPackage]            [varchar](50)    NOT NULL,
		[BuyingPackage]             [varchar](50)    NOT NULL,
		[Brand]                     [varchar](50)    NOT NULL,
		[Size]                      [varchar](20)    NOT NULL,
		[LeadTimeDays]              [int]            NOT NULL,
		[QuantityPerOuter]          [int]            NOT NULL,
		[IsChillerStock]            [bit]            NOT NULL,
		[Barcode]                   [varchar](50)    NULL,
		[TaxRate]                   [decimal](18, 3) NOT NULL,
		[UnitPrice]                 [decimal](18, 2) NOT NULL,
		[RecommendedRetailPrice]    [decimal](18, 2) NULL,
		[TypicalWeightPerUnit]      [decimal](18, 3) NOT NULL
	)
GO

CREATE TABLE [stage].[FactSale]
	(
        [CityKey]                   [int]            NOT NULL,
		[CustomerKey]               [int]            NOT NULL,
		[BillToCustomerKey]         [int]            NOT NULL,
		[StockItemKey]              [int]            NOT NULL,
		[InvoiceDateKey]            [date]           NOT NULL,
		[DeliveryDateKey]           [date]           NULL,
		[SalespersonKey]            [int]            NOT NULL,
		[WWIInvoiceID]              [int]            NOT NULL,
		[Description]               [varchar](100)   NOT NULL,
		[Package]                   [varchar](50)    NOT NULL,
		[Quantity]                  [int]            NOT NULL,
		[UnitPrice]                 [decimal](18, 2) NOT NULL,
		[TaxRate]                   [decimal](18, 3) NOT NULL,
		[TotalExcludingTax]         [decimal](18, 2) NOT NULL,
		[TaxAmount]                 [decimal](18, 2) NOT NULL,
		[Profit]                    [decimal](18, 2) NOT NULL,
		[TotalIncludingTax]         [decimal](18, 2) NOT NULL,
		[TotalDryItems]             [int]            NOT NULL,
		[TotalChillerItems]         [int]            NOT NULL
	)
GO

In [ ]:
-- Step 2.2.2

DROP TABLE IF EXISTS dbo.DimCity
DROP TABLE IF EXISTS dbo.DimCustomer
DROP TABLE IF EXISTS dbo.DimDate
DROP TABLE IF EXISTS dbo.DimEmployee
DROP TABLE IF EXISTS dbo.DimStockItem
DROP TABLE IF EXISTS dbo.FactSale
GO

CREATE TABLE [dbo].[DimCity]
	(
		[CitySK]                    [int]            NOT NULL,
		[CityAK]                    [int]            NOT NULL,
		[City]                      [varchar](50)    NOT NULL,
		[StateProvince]             [varchar](50)    NOT NULL,
		[Country]                   [varchar](60)    NOT NULL,
		[Continent]                 [varchar](30)    NOT NULL,
		[SalesTerritory]            [varchar](50)    NOT NULL,
		[Region]                    [varchar](30)    NOT NULL,
		[Subregion]                 [varchar](30)    NOT NULL,
		[Location]                  [varchar](50)    NULL,
		[LatestRecordedPopulation]  [bigint]         NOT NULL
	)
GO

CREATE TABLE [dbo].[DimCustomer]
	(
		[CustomerSK]                [int]            NOT NULL,
		[CustomerAK]                [int]            NOT NULL,
		[Customer]                  [varchar](100)   NOT NULL,
		[BillToCustomer]            [varchar](100)   NOT NULL,
		[Category]                  [varchar](50)    NOT NULL,
		[BuyingGroup]               [varchar](50)    NOT NULL,
		[PrimaryContact]            [varchar](50)    NOT NULL,
		[PostalCode]                [varchar](10)    NOT NULL
	)
GO

CREATE TABLE [dbo].[DimDate]
	(
		[Date]                      [date]           NOT NULL,
		[DayNumber]                 [int]            NOT NULL,
		[Day]                       [varchar](10)    NOT NULL,
		[Month]                     [varchar](10)    NOT NULL,
		[ShortMonth]                [varchar](3)     NOT NULL,
		[CalendarMonthNumber]       [int]            NOT NULL,
		[CalendarMonthLabel]        [varchar](20)    NOT NULL,
		[CalendarYear]              [int]            NOT NULL,
		[CalendarYearLabel]         [varchar](10)    NOT NULL,
		[FiscalMonthNumber]         [int]            NOT NULL,
		[FiscalMonthLabel]          [varchar](20)    NOT NULL,
		[FiscalYear]                [int]            NOT NULL,
		[FiscalYearLabel]           [varchar](10)    NOT NULL,
		[ISOWeekNumber]             [int]            NOT NULL
	)
GO

CREATE TABLE [dbo].[DimEmployee]
	(
		[EmployeeSK]                [int]            NOT NULL,
		[EmployeeAK]                [int]            NOT NULL,
		[Employee]                  [varchar](50)    NOT NULL,
		[PreferredName]             [varchar](50)    NOT NULL,
		[IsSalesperson]             [bit]            NOT NULL
	)
GO

CREATE TABLE [dbo].[DimStockItem]
	(
		[StockItemSK]               [int]            NOT NULL,
		[StockItemAK]               [int]            NOT NULL,
		[StockItem]                 [varchar](100)   NOT NULL,
		[Color]                     [varchar](20)    NOT NULL,
		[SellingPackage]            [varchar](50)    NOT NULL,
		[BuyingPackage]             [varchar](50)    NOT NULL,
		[Brand]                     [varchar](50)    NOT NULL,
		[Size]                      [varchar](20)    NOT NULL,
		[LeadTimeDays]              [int]            NOT NULL,
		[QuantityPerOuter]          [int]            NOT NULL,
		[IsChillerStock]            [bit]            NOT NULL,
		[Barcode]                   [varchar](50)    NULL,
		[TaxRate]                   [decimal](18, 3) NOT NULL,
		[UnitPrice]                 [decimal](18, 2) NOT NULL,
		[RecommendedRetailPrice]    [decimal](18, 2) NULL,
		[TypicalWeightPerUnit]      [decimal](18, 3) NOT NULL
	)
GO

CREATE TABLE [dbo].[FactSale]
	(
		[SaleKey]                   [bigint]         NOT NULL,
		[CitySK]                    [int]            NOT NULL,
		[CustomerSK]                [int]            NOT NULL,
		[BillToCustomerSK]          [int]            NOT NULL,
		[StockItemSK]               [int]            NOT NULL,
		[InvoiceDateKey]            [date]           NOT NULL,
		[DeliveryDateKey]           [date]           NULL,
		[SalespersonSK]             [int]            NOT NULL,
		[InvoiceID]                 [int]            NOT NULL,
		[Description]               [varchar](100)   NOT NULL,
		[Package]                   [varchar](50)    NOT NULL,
		[Quantity]                  [int]            NOT NULL,
		[UnitPrice]                 [decimal](18, 2) NOT NULL,
		[TaxRate]                   [decimal](18, 3) NOT NULL,
		[TotalExcludingTax]         [decimal](18, 2) NOT NULL,
		[TaxAmount]                 [decimal](18, 2) NOT NULL,
		[Profit]                    [decimal](18, 2) NOT NULL,
		[TotalIncludingTax]         [decimal](18, 2) NOT NULL,
		[TotalDryItems]             [int]            NOT NULL,
		[TotalChillerItems]         [int]            NOT NULL
	)
GO

In [ ]:
-- Step 2.2.3

SELECT
    SCHEMA_NAME(schema_id) AS SchemaName,
    name AS TableName
FROM sys.tables
WHERE
    SCHEMA_NAME(schema_id) IN ('dbo', 'stage')
ORDER BY
    SchemaName,
    TableName

# Lab 3 - Loading Data

### 3.2 - T-SQL INSERT INTO...SELECT FROM

In [ ]:
-- Step 3.2.3

TRUNCATE TABLE stage.FactSale

INSERT INTO stage.FactSale
SELECT 
    [CityKey]
    ,[CustomerKey]
    ,[BillToCustomerKey]
    ,[StockItemKey]
    ,[InvoiceDateKey]
    ,[DeliveryDateKey]
    ,[SalespersonKey]
    ,[WWIInvoiceID]
    ,[Description]
    ,[Package]
    ,[Quantity]
    ,[UnitPrice]
    ,[TaxRate]
    ,[TotalExcludingTax]
    ,[TaxAmount]
    ,[Profit]
    ,[TotalIncludingTax]
    ,[TotalDryItems]
    ,[TotalChillerItems]
FROM OPENROWSET(BULK 'https://fabrictutorialdata.blob.core.windows.net/sampledata/WideWorldImportersDW/parquet/tables/FactSale.parquet') AS FactSale
WHERE
	YEAR(InvoiceDateKey) = 2013

In [ ]:
-- Step 3.2.5

SELECT COUNT_BIG(*) FROM stage.FactSale

### 3.3 - T-SQL COPY INTO

In [ ]:
-- Step 3.3.1

TRUNCATE TABLE stage.DimCity
TRUNCATE TABLE stage.DimCustomer
TRUNCATE TABLE stage.DimEmployee
TRUNCATE TABLE stage.DimStockItem

COPY INTO [stage].[DimCity]      FROM 'https://fabrictutorialdata.blob.core.windows.net/sampledata/WideWorldImportersDW/parquet/tables/DimCity.parquet'      WITH (FILE_TYPE = 'PARQUET');
COPY INTO [stage].[DimCustomer]  FROM 'https://fabrictutorialdata.blob.core.windows.net/sampledata/WideWorldImportersDW/parquet/tables/DimCustomer.parquet'  WITH (FILE_TYPE = 'PARQUET');
COPY INTO [stage].[DimEmployee]  FROM 'https://fabrictutorialdata.blob.core.windows.net/sampledata/WideWorldImportersDW/parquet/tables/DimEmployee.parquet'  WITH (FILE_TYPE = 'PARQUET');
COPY INTO [stage].[DimStockItem] FROM 'https://fabrictutorialdata.blob.core.windows.net/sampledata/WideWorldImportersDW/parquet/tables/DimStockItem.parquet' WITH (FILE_TYPE = 'PARQUET');

In [ ]:
-- Step 3.3.2

SELECT 'stage' AS SchemaName, 'DimCity'        AS TableName, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount FROM stage.DimCity       UNION ALL
SELECT 'stage' AS SchemaName, 'DimCustomer'    AS TableName, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount FROM stage.DimCustomer   UNION ALL
SELECT 'stage' AS SchemaName, 'DimEmployee'    AS TableName, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount FROM stage.DimEmployee   UNION ALL
SELECT 'stage' AS SchemaName, 'DimStockItem'   AS TableName, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount FROM stage.DimStockItem  UNION ALL
SELECT 'stage' AS SchemaName, 'FactSale'       AS TableName, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount FROM stage.FactSale
ORDER BY
    SchemaName,
    TableName

# Lab 4 - Data transformation using T-SQL

### 4.1 - Stored procedures

In [ ]:
-- Step 4.1.3

-- dbo.CreateUnknownMember stored procedure
DROP PROCEDURE IF EXISTS dbo.CreateUnknownMembers
GO

CREATE PROCEDURE dbo.CreateUnknownMembers
AS
BEGIN

    IF NOT EXISTS (SELECT * FROM dbo.DimCity WHERE CitySK = 0)
    INSERT INTO dbo.DimCity SELECT 0, 0, 'Unknown', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', NULL, 0

    IF NOT EXISTS (SELECT * FROM dbo.DimCustomer WHERE CustomerSK = 0)
    INSERT INTO dbo.DimCustomer SELECT 0, 0, 'Unknown', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A'

    IF NOT EXISTS (SELECT * FROM dbo.DimEmployee WHERE EmployeeSK = 0)
    INSERT INTO dbo.DimEmployee SELECT 0, 0, 'Unknown', 'N/A', 0

    IF NOT EXISTS (SELECT * FROM dbo.DimStockItem WHERE StockItemSK = 0)
    INSERT INTO dbo.DimStockItem SELECT 0, 0, 'Unknown', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 0, 0, 0, 'N/A', 0, 0, 0, 0

END
GO

In [ ]:
-- Step 4.1.4

-- dbo.UpdateDimCity stored procedure
DROP PROCEDURE IF EXISTS dbo.UpdateDimCity
GO


CREATE PROCEDURE dbo.UpdateDimCity
AS
BEGIN

	UPDATE destination
	SET
		destination.[CityAK] 				    = source.[CityKey],
		destination.[City] 						= source.[City],
		destination.[StateProvince] 			= source.[StateProvince],
		destination.[Country] 					= source.[Country],
		destination.[Continent] 				= source.[Continent],
		destination.[SalesTerritory] 			= source.[SalesTerritory],
		destination.[Region] 					= source.[Region],
		destination.[Subregion] 				= source.[Subregion],
		destination.[Location] 					= source.[Location],
		destination.[LatestRecordedPopulation] 	= source.[LatestRecordedPopulation]
	FROM dbo.DimCity AS destination
	INNER JOIN stage.DimCity AS source
		ON destination.[CityAK] = source.[CityKey]

	DECLARE @MaxID BIGINT = (SELECT ISNULL(MAX(CitySK), 0) FROM dbo.DimCity)

	INSERT INTO dbo.DimCity
	SELECT
		@MaxID + ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS [CitySK],
		[CityKey],
		[City],
		[StateProvince],
		[Country],
		[Continent],
		[SalesTerritory],
		[Region],
		[Subregion],
		[Location],
		[LatestRecordedPopulation]
	FROM stage.DimCity
	WHERE CityKey NOT IN (SELECT CityAK FROM dbo.DimCity)

END
GO


-- dbo.UpdateDimCustomer stored procedure
DROP PROCEDURE IF EXISTS dbo.UpdateDimCustomer
GO

CREATE PROCEDURE dbo.UpdateDimCustomer
AS
BEGIN

	UPDATE destination
	SET
		destination.[CustomerAK] 	    = source.[CustomerKey],
		destination.[Customer] 			= source.[Customer],
		destination.[BillToCustomer] 	= source.[BillToCustomer],
		destination.[Category] 			= source.[Category],
		destination.[BuyingGroup] 		= source.[BuyingGroup],
		destination.[PrimaryContact] 	= source.[PrimaryContact],
		destination.[PostalCode] 		= source.[PostalCode]
	FROM dbo.DimCustomer AS destination
	INNER JOIN stage.DimCustomer AS source
		ON destination.[CustomerAK] = source.[CustomerKey]

	DECLARE @MaxID BIGINT = (SELECT ISNULL(MAX(CustomerSK), 0) FROM dbo.DimCustomer)

	INSERT INTO dbo.DimCustomer
	SELECT
		@MaxID + ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS [CustomerSK],
		[CustomerKey],
		[Customer],
		[BillToCustomer],
		[Category],
		[BuyingGroup],
		[PrimaryContact],
		[PostalCode]		
	FROM stage.DimCustomer
	WHERE CustomerKey NOT IN (SELECT CustomerAK FROM dbo.DimCustomer)

END
GO


-- dbo.UpdateDimEmployee stored procedure
DROP PROCEDURE IF EXISTS dbo.UpdateDimEmployee
GO

CREATE PROCEDURE dbo.UpdateDimEmployee
AS
BEGIN

	UPDATE destination
	SET
		destination.[EmployeeAK] 	    = source.[EmployeeKey],
		destination.[Employee] 			= source.[Employee],
		destination.[PreferredName] 	= source.[PreferredName],
		destination.[IsSalesperson]		= source.[IsSalesperson]
	FROM dbo.DimEmployee AS destination
	INNER JOIN stage.DimEmployee AS source
		ON destination.[EmployeeAK] = source.[EmployeeKey]

	DECLARE @MaxID BIGINT = (SELECT ISNULL(MAX(EmployeeSK), 0) FROM dbo.DimEmployee)

	INSERT INTO dbo.DimEmployee
	SELECT
		@MaxID + ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS [EmployeeSK],
		[EmployeeKey],
		[Employee],
		[PreferredName],
		[IsSalesperson]		
	FROM stage.DimEmployee
	WHERE EmployeeKey NOT IN (SELECT EmployeeAK FROM dbo.DimEmployee)

END
GO


-- dbo.UpdateDimStockItem stored procedure
DROP PROCEDURE IF EXISTS dbo.UpdateDimStockItem
GO

CREATE PROCEDURE dbo.UpdateDimStockItem
AS
BEGIN

	UPDATE destination
	SET
		destination.[StockItemAK] 			    = source.[StockItemKey],
		destination.[StockItem] 				= source.[StockItem],
		destination.[Color] 					= source.[Color],
		destination.[SellingPackage] 			= source.[SellingPackage],
		destination.[BuyingPackage] 			= source.[BuyingPackage],
		destination.[Brand] 					= source.[Brand],
		destination.[Size] 						= source.[Size],
		destination.[LeadTimeDays] 				= source.[LeadTimeDays],
		destination.[QuantityPerOuter] 			= source.[QuantityPerOuter],
		destination.[IsChillerStock] 			= source.[IsChillerStock],
		destination.[Barcode] 					= source.[Barcode],
		destination.[TaxRate] 					= source.[TaxRate],
		destination.[UnitPrice] 				= source.[UnitPrice],
		destination.[RecommendedRetailPrice] 	= source.[RecommendedRetailPrice],
		destination.[TypicalWeightPerUnit] 		= source.[TypicalWeightPerUnit]
	FROM dbo.DimStockItem AS destination
	INNER JOIN stage.DimStockItem AS source
		ON destination.[StockItemAK] = source.[StockItemKey]

	DECLARE @MaxID BIGINT = (SELECT ISNULL(MAX(StockItemSK), 0) FROM dbo.DimStockItem)

	INSERT INTO dbo.DimStockItem
	SELECT
		@MaxID + ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS [StockItemSK],
		[StockItemKey],
		[StockItem],
		[Color],
		[SellingPackage],
		[BuyingPackage],
		[Brand],
		[Size],
		[LeadTimeDays],
		[QuantityPerOuter],
		[IsChillerStock],
		[Barcode],
		[TaxRate],
		[UnitPrice],
		[RecommendedRetailPrice],
		[TypicalWeightPerUnit]
	FROM stage.DimStockItem
	WHERE StockItemKey NOT IN (SELECT StockItemAK FROM dbo.DimStockItem)

END
GO


-- dbo.UpdateFactSale stored procedure
DROP PROCEDURE IF EXISTS dbo.UpdateFactSale
GO

CREATE PROCEDURE dbo.UpdateFactSale
AS
BEGIN

	DECLARE @MaxID BIGINT = (SELECT ISNULL(MAX(SaleKey), 0) FROM dbo.FactSale)

	INSERT INTO dbo.FactSale
	SELECT
		@MaxID + ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS [SaleKey],
		ISNULL(dci.CitySK, 0) AS CityKey,
		ISNULL(dcu.CustomerSK, 0) AS CustomerKey,
		ISNULL(dbtc.CustomerSK, 0) AS BillToCustomerKey,
		ISNULL(dsi.StockItemSK, 0) AS StockItemKey,
		fs.InvoiceDateKey,
		fs.DeliveryDateKey,
        ISNULL(de.EmployeeSK, 0) AS SalespersonKey,
		fs.WWIInvoiceID,
		fs.[Description],
		fs.Package,
		fs.Quantity,
		fs.UnitPrice,
		fs.TaxRate,
		fs.TotalExcludingTax,
		fs.TaxAmount,
		fs.Profit,
		fs.TotalIncludingTax,
		fs.TotalDryItems,
		fs.TotalChillerItems
	FROM stage.FactSale AS fs
	LEFT JOIN dbo.DimCity AS dci
		ON fs.CityKey = dci.CityAK
	LEFT JOIN dbo.DimCustomer AS dcu
		ON fs.CustomerKey = dcu.CustomerAK
	LEFT JOIN dbo.DimCustomer AS dbtc
		ON fs.BillToCustomerKey = dbtc.CustomerAK
	LEFT JOIN dbo.DimStockItem AS dsi
		ON fs.StockItemKey = dsi.StockItemAK
	LEFT JOIN dbo.DimEmployee de
	 	ON fs.SalespersonKey = de.EmployeeAK
	LEFT JOIN dbo.FactSale AS f
		ON fs.WWIInvoiceID = f.InvoiceID
		AND dsi.StockItemSK = f.StockItemSK
        AND fs.InvoiceDateKey = f.InvoiceDateKey
	WHERE
		f.SaleKey IS NULL
		
END
GO

In [ ]:
-- Step 4.1.5

SELECT * FROM INFORMATION_SCHEMA.ROUTINES WHERE ROUTINE_TYPE = 'PROCEDURE'

### 4.2 - Incrementally updating tables

In [ ]:
-- Step 4.2.1

DECLARE @CountBeforeLoadDimCity      BIGINT = (SELECT COUNT_BIG(*) FROM dbo.DimCity)
DECLARE @CountBeforeLoadDimCustomer  BIGINT = (SELECT COUNT_BIG(*) FROM dbo.DimCustomer)
DECLARE @CountBeforeLoadDimEmployee  BIGINT = (SELECT COUNT_BIG(*) FROM dbo.DimEmployee)
DECLARE @CountBeforeLoadDimStockItem BIGINT = (SELECT COUNT_BIG(*) FROM dbo.DimStockItem)
DECLARE @CountBeforeLoadFactSale     BIGINT = (SELECT COUNT_BIG(*) FROM dbo.FactSale)

EXEC dbo.CreateUnknownMembers;
EXEC dbo.UpdateDimCity;
EXEC dbo.UpdateDimCustomer;
EXEC dbo.UpdateDimEmployee;
EXEC dbo.UpdateDimStockItem;
EXEC dbo.UpdateFactSale;

SELECT 'dbo'   AS SchemaName, 'DimCity'        AS TableName, FORMAT(@CountBeforeLoadDimCity,      'N0') AS RecordCount_BeforeLoad, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount_AfterLoad FROM dbo.DimCity         UNION ALL
SELECT 'dbo'   AS SchemaName, 'DimCustomer'    AS TableName, FORMAT(@CountBeforeLoadDimCustomer,  'N0') AS RecordCount_BeforeLoad, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount_AfterLoad FROM dbo.DimCustomer     UNION ALL
SELECT 'dbo'   AS SchemaName, 'DimEmployee'    AS TableName, FORMAT(@CountBeforeLoadDimEmployee,  'N0') AS RecordCount_BeforeLoad, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount_AfterLoad FROM dbo.DimEmployee     UNION ALL
SELECT 'dbo'   AS SchemaName, 'DimStockItem'   AS TableName, FORMAT(@CountBeforeLoadDimStockItem, 'N0') AS RecordCount_BeforeLoad, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount_AfterLoad FROM dbo.DimStockItem    UNION ALL
SELECT 'dbo'   AS SchemaName, 'FactSale'       AS TableName, FORMAT(@CountBeforeLoadFactSale,     'N0') AS RecordCount_BeforeLoad, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount_AfterLoad FROM dbo.FactSale
ORDER BY
    SchemaName,
    TableName

# Lab 5 - Orchestrating warehouse operations

### 5.3 - Validating dimensional model load

In [ ]:
-- Step 5.3.3

SELECT 'dbo'   AS SchemaName, 'DimCity'         AS TableName, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount FROM dbo.DimCity                                      UNION ALL
SELECT 'dbo'   AS SchemaName, 'DimCustomer'     AS TableName, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount FROM dbo.DimCustomer                                  UNION ALL
SELECT 'dbo'   AS SchemaName, 'DimDate'         AS TableName, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount FROM dbo.DimDate                                      UNION ALL
SELECT 'dbo'   AS SchemaName, 'DimEmployee'     AS TableName, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount FROM dbo.DimEmployee                                  UNION ALL
SELECT 'dbo'   AS SchemaName, 'DimStockItem'    AS TableName, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount FROM dbo.DimStockItem                                 UNION ALL
SELECT 'dbo'   AS SchemaName, 'FactSale'        AS TableName, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount FROM dbo.FactSale                                     UNION ALL
SELECT 'dbo'   AS SchemaName, 'FactSale - 2013' AS TableName, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount FROM dbo.FactSale WHERE YEAR(InvoiceDateKey) = 2013   UNION ALL
SELECT 'dbo'   AS SchemaName, 'FactSale - 2014' AS TableName, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount FROM dbo.FactSale WHERE YEAR(InvoiceDateKey) = 2014   UNION ALL
SELECT 'dbo'   AS SchemaName, 'FactSale - 2015' AS TableName, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount FROM dbo.FactSale WHERE YEAR(InvoiceDateKey) = 2015   UNION ALL
SELECT 'dbo'   AS SchemaName, 'FactSale - 2016' AS TableName, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount FROM dbo.FactSale WHERE YEAR(InvoiceDateKey) = 2016   UNION ALL
SELECT 'stage' AS SchemaName, 'DimCity'         AS TableName, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount FROM stage.DimCity                                    UNION ALL
SELECT 'stage' AS SchemaName, 'DimCustomer'     AS TableName, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount FROM stage.DimCustomer                                UNION ALL
SELECT 'stage' AS SchemaName, 'DimEmployee'     AS TableName, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount FROM stage.DimEmployee                                UNION ALL
SELECT 'stage' AS SchemaName, 'DimStockItem'    AS TableName, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount FROM stage.DimStockItem                               UNION ALL
SELECT 'stage' AS SchemaName, 'FactSale'        AS TableName, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount FROM stage.FactSale                                   UNION ALL
SELECT 'stage' AS SchemaName, 'FactSale - 2013' AS TableName, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount FROM stage.FactSale WHERE YEAR(InvoiceDateKey) = 2013 UNION ALL
SELECT 'stage' AS SchemaName, 'FactSale - 2014' AS TableName, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount FROM stage.FactSale WHERE YEAR(InvoiceDateKey) = 2014 UNION ALL
SELECT 'stage' AS SchemaName, 'FactSale - 2015' AS TableName, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount FROM stage.FactSale WHERE YEAR(InvoiceDateKey) = 2015 UNION ALL
SELECT 'stage' AS SchemaName, 'FactSale - 2016' AS TableName, FORMAT(COUNT_BIG(*), 'N0') AS RecordCount FROM stage.FactSale WHERE YEAR(InvoiceDateKey) = 2016
ORDER BY
    SchemaName,
    TableName

# Lab 6 - Advanced query techniques

### 6.1 - Time travel

In [ ]:
-- Step 6.1.3

SELECT 'dbo.FactSale'   AS TableName, COUNT(*) AS RecordCount FROM dbo.FactSale   WHERE InvoiceDateKey = '2013-01-01' UNION ALL
SELECT 'stage.FactSale' AS TableName, COUNT(*) AS RecordCount FROM stage.FactSale WHERE InvoiceDateKey = '2013-01-01'
ORDER BY TableName DESC

In [ ]:
-- Step 6.1.4

DELETE FROM dbo.FactSale WHERE InvoiceDateKey = '2013-01-01'
SELECT COUNT(*) AS RecordCount FROM dbo.FactSale WHERE InvoiceDateKey = '2013-01-01'

In [ ]:
-- Step 6.1.5

DECLARE @BeforeTheAccident VARCHAR(23) = (SELECT CONVERT(VARCHAR(23), DATEADD(MINUTE, -30, GETDATE()), 126))
EXEC ('SELECT COUNT(*) FROM dbo.FactSale WHERE InvoiceDateKey = ''2013-01-01'' OPTION (FOR TIMESTAMP AS OF ''' + @BeforeTheAccident + ''')');

### 6.2 - Clone a table

In [ ]:
-- Step 6.2.1

DROP TABLE IF EXISTS dbo.FactSale_Recovery

DECLARE @BeforeTheAccident VARCHAR(23) = (SELECT CONVERT(VARCHAR(23), DATEADD(MINUTE, -30, GETDATE()), 126))

EXEC ('CREATE TABLE dbo.FactSale_Recovery AS CLONE OF dbo.FactSale AT ''' + @BeforeTheAccident + '''')

In [ ]:
-- Step 6.2.2

SELECT 'dbo.FactSale'          AS TableName, COUNT(*) AS RecordCount FROM dbo.FactSale          WHERE InvoiceDateKey = '2013-01-01' UNION ALL
SELECT 'dbo.FactSale_Recovery' AS TableName, COUNT(*) AS RecordCount FROM dbo.FactSale_Recovery WHERE InvoiceDateKey = '2013-01-01' UNION ALL
SELECT 'stage.FactSale'        AS TableName, COUNT(*) AS RecordCount FROM stage.FactSale        WHERE InvoiceDateKey = '2013-01-01'
ORDER BY TableName DESC

In [ ]:
-- Step 6.2.3

INSERT INTO dbo.FactSale
SELECT * FROM dbo.FactSale_Recovery WHERE InvoiceDateKey = '2013-01-01'

SELECT 'dbo.FactSale'          AS TableName, COUNT(*) AS RecordCount FROM dbo.FactSale          WHERE InvoiceDateKey = '2013-01-01' UNION ALL
SELECT 'dbo.FactSale_Recovery' AS TableName, COUNT(*) AS RecordCount FROM dbo.FactSale_Recovery WHERE InvoiceDateKey = '2013-01-01' UNION ALL
SELECT 'stage.FactSale'        AS TableName, COUNT(*) AS RecordCount FROM stage.FactSale        WHERE InvoiceDateKey = '2013-01-01'
ORDER BY TableName DESC

# Lab 7 - Data warehouse management

### 7.1 - Checking important warehouse settings

In [ ]:
-- Step 7.1.3

SELECT
    name,
    collation_name,
    CASE collation_name
        WHEN 'Latin1_General_100_BIN2_UTF8'           THEN 1
        WHEN 'Latin1_General_100_CI_AS_KS_WS_SC_UTF8' THEN 0
        ELSE NULL
        END AS is_case_sensitive,
    snapshot_isolation_state_desc,
    is_auto_create_stats_on,
    is_auto_update_stats_on,
    data_lake_log_publishing_desc,
    CASE data_lake_log_publishing_desc
        WHEN 'AUTO' THEN 1
        WHEN 'PAUSED' THEN 0
        ELSE NULL
        END AS is_delta_lake_log_publishing_on,
    is_vorder_enabled
FROM sys.databases
WHERE name = DB_NAME()

### 7.2 - Statistics management

In [ ]:
-- Step 7.2.1

SELECT
    schema_name(o.schema_id) AS schema_name,
    object_name(s.object_id) AS [object_name],
    c.name AS [column_name],
    s.name AS [stats_name],
    STATS_DATE(s.object_id, s.stats_id) AS [stats_update_date], 
    CASE
        WHEN s.auto_created = 1 THEN 'System'
        WHEN s.user_created = 1 THEN 'User'
        ELSE NULL END AS stats_created_by
FROM sys.stats AS s 
INNER JOIN sys.objects AS o 
    ON o.object_id = s.object_id 
LEFT JOIN sys.stats_columns AS sc 
    ON s.object_id = sc.object_id 
    AND s.stats_id = sc.stats_id 
LEFT JOIN sys.columns AS c 
    ON sc.object_id = c.object_id 
    AND c.column_id = sc.column_id
WHERE
    o.type = 'U'
    AND (s.auto_created = 1 or s.user_created = 1)
ORDER BY
    schema_name,
    object_name,
    column_name

In [ ]:
-- Step 7.2.2

CREATE STATISTICS dbo_DimCity_CitySK ON dbo.DimCity (CitySK) WITH FULLSCAN;
CREATE STATISTICS dbo_DimCustomer_CustomerSK ON dbo.DimCustomer (CustomerSK) WITH FULLSCAN;
CREATE STATISTICS dbo_DimDate_Date ON dbo.DimDate (Date) WITH FULLSCAN;
CREATE STATISTICS dbo_DimEmployee_EmployeeSK ON dbo.DimEmployee (EmployeeSK) WITH FULLSCAN;
CREATE STATISTICS dbo_DimStockItem_StockItemSK ON dbo.DimStockItem (StockItemSK) WITH FULLSCAN;

In [ ]:
-- Step 7.2.3

SELECT
    schema_name(o.schema_id) AS schema_name,
    object_name(s.object_id) AS [object_name],
    c.name AS [column_name],
    s.name AS [stats_name],
    STATS_DATE(s.object_id, s.stats_id) AS [stats_update_date], 
    CASE
        WHEN s.auto_created = 1 THEN 'System'
        WHEN s.user_created = 1 THEN 'User'
        ELSE NULL END AS stats_created_by
FROM sys.stats AS s 
INNER JOIN sys.objects AS o 
    ON o.object_id = s.object_id 
LEFT JOIN sys.stats_columns AS sc 
    ON s.object_id = sc.object_id 
    AND s.stats_id = sc.stats_id 
LEFT JOIN sys.columns AS c 
    ON sc.object_id = c.object_id 
    AND c.column_id = sc.column_id
WHERE
    o.type = 'U'
    AND (s.auto_created = 1 or s.user_created = 1)
ORDER BY
    schema_name,
    object_name,
    column_name

### 7.3 - Query monitoring

In [ ]:
-- Step 7.3.1

SELECT TOP 10 * FROM queryinsights.exec_requests_history